@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');

:root {
  /* official color vars */
  --mobileNavSvg: rgb(102, 102, 102);
  --deep-green: #0f9a7a;
  --dark-purple: #931b9e;
  --deep-red: #e22d00;


  /* deeper colors */
  /* --deep-green: #f54291; */
  /* --deep-green: #61cdbb;  */
  /* --deep-red: #f47460; */

  /* base/more pastel colors */
  /* --dark-purple: #0a97b0; */
  --black: #100303;
  --dark-gray: rgb(160, 160, 160);
  --off-white: #f7f7f7;
  --logo-teal: #61cdbb;


  --color-light-grey: rgba(34,36,38,.15);
  --color-light-grey2: #f5f5f5;
  --color-dark-grey: rgb(177, 177, 177);

  /* --font-sans: 'Lato', sans-serif; */
  --font-sans: 'Verdana', 'Arial', sans-serif;
  --font-logo: 'Londrina Solid', 'Lato', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: var(--font-sans);
}

a {
  text-decoration: none;
  color: black;
}

input:focus {
  outline: none;
}

.disableBodyScroll {
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}