.closeBtn {
  z-index: 150;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.closeBtn:hover {
  cursor: pointer;
  fill: gainsboro;
}

@media only screen and (max-width: 500px) {
  .closeBtn {
    position: fixed;
  }
}