.modal {
  width: 80rem;
  height: 55rem;
  background: white;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 50;
  // opacity: 0;
  // transition: opacity 1s;
  border-radius: 4px;
  overflow: scroll;
}

.heading {
  margin-left: 3rem;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tableHeadings {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 12rem 10rem;
  text-align: center;
  color: var(--color-dark-grey);
  margin-left: 3rem;
  font-size: 1.4rem;
  padding: .5rem 0rem;

  &__col {
    padding: 1rem 0rem;

    &:hover {
      cursor: pointer;
      background-color: var(--off-white);
    }
  }
}