.modal {
  width: 60rem;
  height: 45rem;
  background: white;
  position: fixed;
  top: 20%;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 50;
  // opacity: 0;
  // transition: opacity 1s;
  border-radius: 4px;
  overflow: scroll;
}

.heading {
  margin-left: 3rem;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tableHeadings {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 12rem 10rem;
  text-align: center;
  color: var(--color-dark-grey);
  margin-left: 3rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}