.pieContainer {
  height: 20rem;
  width: 20rem;
}

.nivoTooltipLabel {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.mobilePieContainer {
  display: none;
}

@media only screen and (max-width: 500px) {
  .pieContainer {
    display: none;
  }

  .mobilePieContainer {
    display: block;
    margin: 0 auto;
    height: 30rem;
    width: 100%;
  }
}
