.input {
  font-size: 1.4rem;
  width: 7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid gainsboro;
  margin-top: 1.5rem;

  &:focus {
    border: 1px solid var(--deep-green);
  }
}

// remove step for numbers
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
}

.inputContainer {
  position: relative;
}

.newTickerRow {
  position: relative;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 9rem 9rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid gainsboro;
}

.loading {
  opacity: .2;
}

.button {
  border: none;
  border-radius: 3px;
  width: 6rem;
  height: 3rem;
  font-size: 1.4rem;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.buttonSave {
  border: 1px solid var(--deep-green);
  color: var(--deep-green);
  margin-top: 1.5rem;

  &:hover {
    color: #fff;
    background-color: var(--deep-green);
  }
}

.buttonCancel {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  margin-top: 1.5rem;

  &:hover {
    background-color: var(--dark-gray);
    color: #fff;
  }
}

.buttonCancelDisabled {
  opacity: .4;
  &:hover {
    cursor: default;
    background-color: #fff;
    opacity: .4;
    color: var(--dark-gray);
  }
}

.buttonSaveDisabled {
  opacity: .4;

  &:hover {
    cursor: default;
    opacity: .4;
    color: var(--deep-green);
    background-color: #fff;
  }
}

// Loading ellipsis animation
.ldsEllipsis {
  //display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--dark-purple);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: ldsEllipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: ldsEllipsis3 0.6s infinite;
}
@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 500px) {
  .newTickerRow {
    grid-template-columns: 8rem 8rem 9rem 8rem 8rem;
    margin-left: 2rem;
  }
  .input {
    width: 95%;
  }
}

@media only screen and (max-width: 345px) {
  .newTickerRow {
    grid-template-columns: 6rem 7rem 8rem 8rem 8rem;
  }
  .input {
    width: 95%;
  }
}