.tableHeadings {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem 14rem 14rem 8rem 10rem;
  color: var(--color-dark-grey);
  justify-items: center;
  margin-top: 2.5rem;
  margin-left: 3rem;
  text-align: center;
  align-items: center;
}

.tableHeading {
  color: var(--color-dark-grey);
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 1rem;
  width: 8rem;
}

.topPagination {
  display: flex;
  margin-left: 3rem;
  justify-content: flex-end;
}

.paginationBtn {
  background-color: #fff;
  color: var(--deep-green);
  font-size: 1.6rem;
}

@media only screen and (max-width: 500px) {
  .contentContainer {
    width: 90rem;
  }
  .tableHeadings {
    margin-left: 2rem;
  }
}