.tableHeadings {
  display: grid;
  grid-template-columns: 8rem 8rem 10rem 17rem 17rem 10rem 10rem;
  color: var(--color-dark-grey);
  justify-items: center;
  margin-top: 2.5rem;
  margin-left: 3rem;
  text-align: center;
  align-items: center;
}

.tableHeading {
  color: var(--color-dark-grey);
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 1rem;
  width: 8rem;
}

.topPagination {
  display: flex;
  margin-left: 3rem;
  justify-content: flex-end;
}

.paginationBtn {
  background-color: #fff;
  color: var(--deep-green);
  font-size: 1.6rem;
}

.mobileZeroDividendsContainer {
  display: none;
}

@media only screen and (max-width: 950px) {
  .zeroDividendsContainer {
    display: none;
  }
  .mobileZeroDividendsContainer {
    display: block;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  .contentContainer {
    width: 100rem;
  }
}

@media only screen and (max-width: 500px) {
  .mobileZeroDividendsContainer {
    margin-left: 2rem;
  }
  .tableHeadings {
    margin-left: 1rem;
  }
}