.container {
  padding-top: 12rem;
}

.h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.label {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.passwordReqs {
  font-size: 1.2rem;
  color: var(--dark-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.input {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid gainsboro;

  &:focus {
    border: 1px solid var(--deep-green);
  }
}

.invalidInput {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid red;
}

.invalidText {
  margin-top: .5rem;
  font-size: 1.4rem;
  color: red;
}

.successText {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.button {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--deep-green);
  color: #fff;
  border: 1px solid var(--deep-green);
  margin-top: 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: darken($color: #0f9a7a, $amount: 5);
    border: 1px solid darken($color: #0f9a7a, $amount: 5);
  }
}

.disabledBtn {
  &:hover {
    cursor: not-allowed;
  }
}

.guideContainer {
  margin-top: .5rem;
  font-size: 1.4rem;
}

.guideLink {
  color: var(--deep-green);

  &:hover {
    color: darken($color: #0f9a7a, $amount: 5);
    text-decoration: underline;
    cursor: pointer;
  }
}

// Loading ellipsis animation
.ldsEllipsis {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80px;
  z-index: 2;
}
.ldsEllipsis div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gainsboro;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
  left: 12px;
  animation: ldsEllipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
  left: 12px;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
  left: 36px;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
  left: 60px;
  animation: ldsEllipsis3 0.6s infinite;
}
@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}