.contentContainer {
  width: 80rem;
  // min-height: calc(100vw - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentContainerZero {
  width: 100rem;
  min-height: calc(100vh - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.messageContainer {
  margin: 0 auto;
  margin-top: 5rem;
  width: fit-content;
}

.btn {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 15rem;
  height: 3.7rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--deep-green);
  border-radius: 4px;
  background-color: #fff;
  color: var(--deep-green);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--deep-green);
    background-color: var(--deep-green);
    color: #fff;
  }
}

@media only screen and (max-width: 500px) {
  .contentContainer {
    width: 100%;
  }
  .contentContainerZero {
    width: unset;
    min-height: calc(100vh - 232px);
  }
}