.contentContainer {
  width: 80rem;
  min-height: calc(100vh - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayContainer {
  margin-left: 6rem;
  margin-top: 2rem;
}

.menu {
  // border-bottom: 2px gainsboro solid;
}

.portfoliosBtn {
  font-size: 1.4rem;
  background-color: white;
  color: var(--deep-green);
  border: none;
  padding: 1rem 0.5rem;
  width: 18rem;
  margin-right: 2rem;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--deep-green);
  }

  &:focus {
    outline: none;
  }
}

.followersBtn {
  font-size: 1.4rem;
  background-color: white;
  color: var(--deep-green);
  border: none;
  padding: 1rem 0.5rem;
  width: 18rem;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--deep-green);
  }

  &:focus {
    outline: none;
  }
}

.randomBtn {
  font-size: 1.4rem;
  background-color: white;
  color: var(--deep-green);
  border: none;
  padding: 1rem 0.5rem;
  width: 18rem;
  margin-right: 2rem;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--deep-green);
  }

  &:focus {
    outline: none;
  }
}

.activeBtn {
  border-bottom: 3px solid var(--deep-green);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.hr {
  height: 2px;
  margin-top: -3px;
  z-index: -1;
  background-color: gainsboro;
  border: none;
}

.ul {
  list-style: none;
  margin-top: 3rem;
  margin-left: 0.5rem;
}

.a {
  color: var(--dark-purple);
}

.zeroFollowers {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.cta__editProfile {
  font-size: 1.4rem;
  color: var(--deep-green);

  &:hover {
    text-decoration: underline;
    color: darken($color: #0f9a7a, $amount: 5);
  }
}

.followers__div {
  margin-bottom: .5rem;
}

.followers__link {
  font-size: 1.4rem;
  color: var(--deep-green);

  &:hover {
    text-decoration: underline;
    color: darken($color: #0f9a7a, $amount: 5);
  }
}

.zeroBtn {
  font-size: 1.6rem;
  background-color: #fff;
  border: none;
  color: var(--deep-green);
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.notLoggedIn {
  margin-top: 3rem;
  margin-left: .5rem;
  font-size: 1.4rem;

  &__link {
    color: var(--deep-green);
  
    &:hover {
      text-decoration: underline;
      color: darken($color: #0f9a7a, $amount: 5);
    }
  }
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
