.contentContainer {
  width: 70rem;
  min-height: calc(100vh - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableHeadings {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  color: var(--color-dark-grey);
  width: 3rem;
  justify-items: center;
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.tableHeading {
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0rem;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: var(--off-white);
  }
}
.secondaryMenu {
  display: flex;
  margin-left: 3rem;
  margin-top: 2.5rem;
}

.btnSecondaryMenu {
  font-size: 1.4rem;
  margin-right: 3rem;
  border: 1px solid var(--deep-green);
  border-radius: 4px;
  padding: 0rem 1rem;
  background-color: var(--deep-green);
  color: #fff;
  height: 3.7rem;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color: #0f9a7a, $amount: 5);
    border: 1px solid darken($color: #0f9a7a, $amount: 5);
  }
}

.buttonModalDelete {
  border: none;
  border-radius: 4px;
  width: 8rem;
  height: 4rem;
  font-size: 1.4rem;
  background-color: var(--deep-red);
  color: #fff;
  margin-right: 2.5rem;

  &:hover {
    cursor: pointer;
    background-color: darken($color: #ff4517, $amount: 10);
  }
}

.buttonModalCancel {
  border: none;
  border-radius: 4px;
  width: 8rem;
  height: 4rem;
  font-size: 1.4rem;
  background-color: gainsboro;
  color: gray;
  margin-right: 2.5rem;

  &:hover {
    cursor: pointer;
    background-color: darken($color: gainsboro, $amount: 10);
  }
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

@media only screen and (max-width: 500px) {
  .contentContainer {
    width: unset;
  }
  .secondaryMenu {
    margin-left: 2rem;
  }
  .tableHeadings {
    grid-template-columns: 8rem 8rem 9rem;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 345px) {
  .tableHeadings {
    grid-template-columns: 6rem 7rem 8rem;
  }
}