.pageHeading {
  font-size: 4rem;
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.hr {
  border: none;
  border-top: 1px solid var(--color-light-grey);
  margin-top: 1rem;
  margin-left: 3rem;
  // margin-right: 3rem;
  width: 83rem;
} 