.menu {
  width: 20rem;
  height: calc(100vh - 5rem);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5rem;
  z-index: 10;

  &:first-child {
    padding-top: 3rem;
  }

  &__section {
    padding-top: .5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.sectionHeading {
  font-size: 1.2rem;
  padding-bottom: .5rem;
  color: #8c8c8c;
  font-weight: 100;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.menuItem {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: block;
  padding-left: 3rem;
  width: 100%;

  &:hover {
    background-color: #ececec;
    // color: #fff;
    cursor: pointer;
  }
}

.active {
  background-color: var(--deep-green);
  color: #fff;

  &:hover {
    background-color: var(--deep-green);
    color: #fff;
  }
}

.content {
  position: absolute;
  left: 20rem;
  top: 5rem;
  width: calc(100vw - 20rem);
}

.searchInput {
  margin-left: 3rem;
  margin-right: 3rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: .5rem;
  border-radius: 4px;
  border: 1px solid rgb(182, 182, 182);
  font-size: 1.4rem;

  &::placeholder {
    color: #bdbdbd;
    font-style: italic;
  }
}

.search {
  &__ulContainer {
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &__ul {
    background-color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    list-style: none;
    overflow: scroll;
    border: 1px solid rgb(182, 182, 182);
    margin-top: -1px;

    &:focus {
      border: 1px solid red;
      color: green;
    }
  }

  &__li {
    padding: .7rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    width: 100%;


    &:hover {
      cursor: pointer;
      background-color: #ececec;
    }
    
  }
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}