.menu {
  width: 20rem;
  height: calc(100vh - 5rem);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5rem;
  z-index: 10;

  &:first-child {
    padding-top: 3rem;
  }

  &__section {
    padding-top: .5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.sectionHeading {
  font-size: 1.2rem;
  padding-bottom: .5rem;
  color: #8c8c8c;
  font-weight: 100;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.menuItem {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: block;
  padding-left: 3rem;
  width: 100%;

  &:hover {
    background-color: #ececec;
    cursor: pointer;
  }
}

.active {
  background-color: var(--deep-green);
  color: #fff;

  &:hover {
    background-color: var(--deep-green);
    color: #fff;
  }
}

.content {
  position: absolute;
  left: 20rem;
  top: 5rem;
  width: calc(100% - 20rem);
}

.searchInput {
  margin-left: 3rem;
  margin-right: 3rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: .5rem;
  border-radius: 4px;
  border: 1px solid rgb(182, 182, 182);
  font-size: 1.4rem;

  &::placeholder {
    color: #bdbdbd;
    font-style: italic;
  }
}

.search {
  &__ulContainer {
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &__ul {
    background-color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    list-style: none;
    overflow: scroll;
    border: 1px solid rgb(182, 182, 182);
    margin-top: -1px;

    &:focus {
      border: 1px solid red;
      color: green;
    }
  }

  &__li {
    padding: .7rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    width: 100%;


    &:hover {
      cursor: pointer;
      background-color: #ececec;
    }
    
  }
}

.actionLink {
  margin-left: 3rem;
  color: var(--deep-green);
  font-size: 1.4rem;
  margin-bottom: 3rem;

  &:hover {
    text-decoration: underline;
    color: darken($color: #0f9a7a, $amount: 5);
  }
}

.actionLink__li {
  margin-bottom: 1rem;
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// mobile hide on normal views
.mobileMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .menu {
    width: 100%;
    height: 7rem;
    display: none;
    grid-template-columns: 1fr 40rem;
    flex-direction: unset;
    position: fixed;
    top: 7rem;
    z-index: 10;
  }

  .mobileMenu {
    display: grid;
    grid-template-columns: 1fr 22rem;
    width: 100%;
    position: fixed;
    top: 7rem;
    background-color: #f5f5f5;
    z-index: 10;
    padding-top: 1.5rem;
    row-gap: 1rem;
  }
  .mobileSearch {
    width: 100%;
    padding-right: 2rem;
  }
  .searchInput {
    width: 100%;
    margin-left: 2rem;
    height: 3.5rem;
  }
  .mobileEditSection {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    &__links {
      display: grid;
      grid-template-columns: 8rem 8rem;
      margin-left: 2rem;
      margin-right: 2rem;
      column-gap: 2rem;
    }
  }
  .mobileEditMenuItem {
    color: var(--mobileNavSvg);
    text-align: center;
    display: flex;
  }
  .sectionHeading {
    margin-left: 2rem;
  }

  .mobileMenuNavigation {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .mobileNavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--mobileNavSvg);
  }
  .mobileNavActive {
    color: var(--deep-green);
  }

  .search__ul {
    background-color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    list-style: none;
    overflow: scroll;
    border: 1px solid rgb(182, 182, 182);
    margin-top: -1px;
    left: -1rem;
  } 


  .content {
    position: absolute;
    left: 0rem;
    top: 23.25rem;
    width: 100%;
  }
}