.contentContainer {
  width: 80rem;
  min-height: calc(100vh - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentContainerZero {
  width: 100rem;
  min-height: calc(100vh - 11.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loadingSpinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.explanation {
  font-size: 1.3rem;
  margin-left: 6rem;
  color: var(--dark-gray);
  font-style: italic;
}

.mt_1 {
  margin-top: 1rem;
}

.btnZero {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 15rem;
  height: 3.7rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--deep-green);
  border-radius: 4px;
  background-color: #fff;
  color: var(--deep-green);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    // background-color: darken($color: #0f9a7a, $amount: 5);
    // border: 1px solid darken($color: #0f9a7a, $amount: 5);
    border: 1px solid var(--deep-green);
    background-color: var(--deep-green);
    color: #fff;
  }
}

.messageContainer {
  margin: 0 auto;
  margin-top: 5rem;
  width: fit-content;
}

.barChartContainer {
  height: 40rem;
  width: 100%;
  margin-left: 6rem;
}

.hideBarChartContainer {
  display: none;
}