.heroSectionContainer {
  padding-top: 5rem;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection__titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  font-family: "Londrina Solid", "Raleway", "Lato", serif;
  text-align: center;
  margin: 0 auto;
}

.subheading {
  font-size: 2.5rem;
  font-family: "Londrina Solid", "Raleway", "Lato", serif;
  text-align: center;
  font-weight: 400;
  margin-top: 3rem;
}

.heroText {
  font-size: 2rem;
  text-align: center;
  width: 60rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.logoText {
  font-family: "Londrina Solid", "Raleway", "Lato", serif;
  font-size: 2.1rem;
}

.grayText {
  color: #757575;
}

.greenText {
  color: var(--deep-green);
}

.cta {
  font-size: 1.6rem;
  padding: 1.2rem;
  border-radius: 4px;
  background-color: #fff;
  color: var(--deep-green);
  border: 1px solid var(--deep-green);
  margin: 0 auto;
  margin-top: 2rem;
  width: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: var(--deep-green);
    color: #fff;
  }
}

.guideContainer {
  margin: 0 auto;
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  transition: opacity 1.2s;
}

.guideText {
  font-size: 2rem;
}

.pieSectionContainer {
  width: 100%;
  height: 50rem;
}

.pieSection__heading {
  font-size: 4rem;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
  font-family: var(--font-logo);
  width: 80rem;
}

.piesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35rem;
  width: 120rem;
  margin: 0 auto;
  margin-top: 3rem;
  justify-items: center;
}

.pie1Container {
  grid-column: 1 / 2;
  height: 30rem;
  width: 50rem;
}

.pie2Container {
  grid-column: 2 / 3;
  height: 30rem;
  width: 50rem;
}

.profileSection {
  width: 100%;
  height: 43rem;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  // padding-left: 7rem;
  // padding-right: 10rem;
  justify-content: center;

  &__Heading {
    font-size: 4rem;
    font-family: var(--font-logo);
  }

  &__left {
    width: 40rem;
    justify-content: center;
  }

  &__right {
    width: 57rem;
    justify-content: center;
    padding-left: 8rem;
  }

  &__image {
    width: 100%;
    box-shadow: 31px 15px 94px -24px rgba(0, 0, 0, 0.62);
    margin-left: 2rem;
    transform: perspective(600px) rotateY(-15deg);
  }
}

.stockSection {
  width: 100%;
  height: 50rem;

  &__heading {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-logo);
    width: 75rem;
    margin: 0 auto;
  }

  &__imageContainer {
    display: flex;
    width: 90rem;
    margin: 0 auto;
    margin-top: 5rem;
    align-items: center;
  }

  &__left {
    width: 45rem;
  }

  &__right {
    width: 45rem;
  }

  &__stockPageImage {
    height: 28rem;
    box-shadow: 5px 15px 115px -24px rgba(0, 0, 0, 0.62);
  }

  &__stockChartsImage {
    height: 28rem;
    margin-left: 5rem;
    box-shadow: 5px 15px 115px -24px rgba(0, 0, 0, 0.62);
  }
  &__mobileImage {
    display: none;
  }
}

.dataSection {
  display: flex;
  height: 40rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: center;

  &__left {
    width: 65rem;
    height: 33rem;
    align-self: center;
  }

  &__right {
    width: 65rem;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }

  &__heading {
    font-size: 4rem;
    font-family: var(--font-logo);
    width: 45rem;
  }
  &__mobileBarContainer {
    display: none;
  }
}

.signupSection {
  width: 100%;
  height: 30rem;
  margin-top: 7rem;

  &__heading {
    font-size: 4rem;
    font-family: var(--font-logo);
    text-align: center;
  }

  &__text {
    font-size: 2rem;
    text-align: center;
    width: 60rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
  }

  &__cta {
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: 4px;
    background-color: var(--deep-green);
    color: #fff;
    border: 1px solid var(--deep-green);
    margin: 0 auto;
    margin-top: 3rem;
    width: 20rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      cursor: pointer;
      background-color: darken($color: #0f9a7a, $amount: 5);
      border: 1px solid darken($color: #0f9a7a, $amount: 5);
    }
  }
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.mobilePie1Container {
  display: none;
}
.mobilePie2Container {
  display: none;
}

@media only screen and (max-width: 500px) {
  .contentContainer {
    width: unset;
  }
  .heroSectionContainer {
    width: unset;
    height: unset;
    margin: 0rem 2rem;
    padding-top: 18vh;
  }
  .heroText {
    width: unset;
  }
  .guideContainer {
    display: none;
  }

  .pieSectionContainer {
    width: unset;
    height: unset;
    margin: 0rem 2rem;
  }
  .pieSection__heading {
    width: unset;
    font-size: 3.5rem;
    margin-top: 15vh;
  }
  .piesContainer {
    display: flex;
    flex-direction: column;
    height: unset;
    width: unset;
  }
  .pie1Container {
    display: none;
  }
  .pie2Container {
    display: none;
  }
  .mobilePie1Container {
    display: block;
    height: 25rem;
  }
  .mobilePie2Container {
    display: block;
    height: 25rem;
  }

  .profileSection {
    height: unset;
    width: unset;
    flex-direction: column;
    margin-top: 10vh;
    &__left {
      width: unset;
      margin: 0 2rem;
      text-align: center;
    }
    &__right {
      width: unset;
      padding-left: 0rem;
    }
    &__screen {
      width: 75%;
      margin: 0 auto;
    }
    &__image {
      margin-left: 0rem;
      margin-top: 4rem;
      transform: unset;
      box-shadow: 5px 15px 115px -24px rgba(0, 0, 0, 0.62);
    }
  }

  .stockSection {
    height: unset;
    &__heading {
      width: unset;
      margin: 0rem 2rem;
      margin-top: 12vh;
    }
    &__imageContainer {
      display: none;
    }
    &__mobileImage {
      display: block;
      width: 75%;
      margin: 0 auto;
      box-shadow: 5px 15px 115px -24px rgba(0, 0, 0, 0.62);
      margin-top: 3rem;
    }
    
  }

  .dataSection {
    flex-direction: column-reverse;
    height: unset;
    margin-top: 15vh;
    &__right {
      width: unset;
      margin: 0rem 2rem;
      text-align: center;
    }
    &__left {
      display: none;
    }
    &__mobileBarContainer {
      display: block;
      height: 30rem;
      width: 100%;
    }
    &__heading {
      width: unset;
    }
  }

  .signupSection {
    margin: 0rem 2rem;
    margin-top: 12vh;
    width: unset;
    &__text {
      width: unset;
    }
  }
}


@media only screen and (max-width: 345px) {
  .mobilePie1Container {
    height: 18rem;
  }
  .mobilePie2Container {
    height: 18rem;
  }
}