.pieContainer {
  margin: 0 auto;
  height: 40rem;
}

.nivoTooltipLabel {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.mobilePie {
  display: none;
}

@media only screen and (max-width: 500px) {
  .pieContainer {
    display: none;
  }
  .mobilePie {
    display: block;
    height: 35rem;
  }
}

@media only screen and (max-width: 320px) {
  .mobilePie {
    height: 30rem;
  }
}