.row {
  display: grid;
  grid-template-columns: 12rem 12rem 12rem 12rem 12rem;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 6rem;

  &:hover {
    background-color: var(--off-white);
  }
}

.ticker {
  font-weight: 700;
  color: var(--dark-purple);
  width: min-content;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .row {
    margin-left: 1rem;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem;
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .row {
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
    font-size: 1.2rem;
  }
}