.portfolioTableContainer {
  margin-top: 3rem;
}

.tableHeadings {
  display: grid;
  grid-template-columns: 12rem 12rem 12rem 12rem 12rem;
  color: var(--color-dark-grey);
  width: 3rem;
  justify-items: center;
  margin-left: 6rem;
}

.tableHeading {
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0rem;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: var(--off-white);
  }
}

@media only screen and (max-width: 500px) {
  .tableHeadings {
    margin-left: 1rem;
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem;
  }
}

@media only screen and (max-width: 320px) {
  .tableHeadings {
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  }
}