.monthHeading {
  font-size: 2rem;
  color: #275cbe;
  margin: 1rem 0;
  text-decoration: underline;
}

.monthFlexContainer {
  display: flex;
}

.keyContainer {
  margin-bottom: 1rem;
  margin-left: -1px;
  font-size: 1.3rem;
  width: 14rem;
  height: 100%;
}

.tableContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.divFlexContainer {
  text-align: center;
  margin-bottom: 1rem;
  margin-left: -1px;
  font-size: 1.3rem;
}

.ticker {
  border: 1px solid gainsboro;
  font-size: 1.3rem;
  margin-bottom: -1px;
}

.tickerAnchor {
  color: var(--dark-purple);
}

.cellKey {
  padding-left: .2rem;
}

.cellNormal {
  min-width: 7rem;
  height: 1.7rem;
  border: 1px solid gainsboro;
  margin-bottom: -1px;
}

.cellGreen {
  border: 1px solid gainsboro;
  margin-bottom: -1px;
  background-color: #d3ffd3;
  color: #018667;
}

.cellRed {
  border: 1px solid gainsboro;
  margin-bottom: -1px;
  background-color: #ffefef;
  color: #ce3939;
  height: 1.7rem;
}

.summaryContainer {
  min-width: 7rem;
  text-align: center;
  font-size: 1.3rem;
  margin-left: -1px;
}

.cellSummaryBlue {
  border: 1px solid #275cbe;
  margin-bottom: -1px;
  background-color: #275cbe;
  color: #fff;
  height: 1.7rem;

  &:first-child {
    margin-bottom: 0px;
  }
}

.cellBlue {
  border: 1px solid gainsboro;
  margin-bottom: -1px;
  background-color: #e7f2ff;
  color: #134db9;
  height: 1.7rem;
}

.cellYellow {
  border: 1px solid gainsboro;
  margin-bottom: -1px;
  background-color: #fff56c;
  color: #92890a;
  height: 1.7rem;
}

.weightedYieldContainer {
  font-size: 1.3rem;
  text-align: center;
}

.cellWeightedYieldTop {
  width: 7rem;
  height: calc(1.7rem * 8 - 8px);
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltipText {
  position: absolute;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  color: #000;
  box-shadow: 1px 1px 10px 1px rgba(176,176,176,1);
  width: 10rem;
  padding: .5rem;
  z-index: 5;
  left: -2rem;
  top: -6rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (max-width: 500px) {
  .keyContainer {
    margin-bottom: 1rem;
    margin-left: -1px;
    font-size: 1.3rem;
    width: 16.5rem;
    height: 100%;
  }
}