.componentContainer {
  display: flex;
  margin-left: 6rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
}



.ticker {
  border: 1px solid gainsboro;
  font-size: 1.3rem;
  margin-bottom: -1px;
}

.cellNormal {
  width: 11rem;
  height: 1.7rem;
  border: 1px solid gainsboro;
  margin-bottom: -1px;
}

.cellKey {
  padding-left: .2rem;
  width: 13rem;
}

.cellPrevious {
  background-color: #eee;
}

.cellEstimated {
  // background-color: #a6cee4;
  background-color: #eee;
}

.mobileComponentContainer {
  display: none;
}

@media only screen and (max-width: 500px) {
  .componentContainer {
    margin-left: 2rem;
    display: none;
  }

  .mobileComponentContainer {
    display: block;
    margin-top: 2rem;
  }

  .mobileTableHeadings {
    display: grid;
    grid-template-columns: 13rem 13rem 13rem;
    color: var(--color-dark-grey);
    width: 3rem;
    justify-items: center;
    font-size: 1.6rem;
    text-align: center;
  }

  .mobileTableHeading {
    padding: 0rem 2rem;
  }
}